/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--text-weight);
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #000);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

.header {
  font-family: var(--accent-font), monospace;
  text-transform: uppercase;
  font-weight: var(--accent-weight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  margin-block: 100px;
}

.content-section {
  margin-inline: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
}

.header__title {
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__description {
  padding-block-end: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding-inline-start: 20px;
  padding-block-end: 23px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 60%;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 60%;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  bottom: -1px;
  left: 0;
  opacity: 60%;
  transition: opacity 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 60%;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  top: 1px;
  left: -14px;
  position: absolute;
  opacity: 60%;
  animation: arrow 0.5s ease-in-out infinite alternate;
}


.main {
  display: flex;
  flex-direction: column;
  gap: clamp(3.125rem, 3.125rem + 0vw, 3.125rem);
}

.card {
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
}

.card__title {
  font-size: inherit;
  line-height: 21.78px;
  padding-inline-start: 10px;
  padding-block: 5px;
  border-block-end: 2px solid var(--text-color);
}

.card:nth-of-type(5) .card__title {
  padding-block: 3px;
}

.label {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.09px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: -1px 0 var(--shadow), 0 1px var(--shadow), 1px 0 var(--shadow), 0 -1px var(--shadow);
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .label {
      -webkit-text-stroke: 1px var(--shadow);
      text-stroke: 1px var(--shadow);
      text-shadow: none;
  }
} 

.card__image-conteiner {
  position: relative;
  block-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}

.card__image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card__description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid var(--text-color);
}

.card__icon-button {
  margin: 0;
  padding: 0;
  block-size: 33px;
  background-color: transparent;
  border: none;
  outline: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--text-color);
  transition: outline 0.3s ease;
}

.like-button__conteiner {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--text-color);
  inline-size: 130px;
  block-size: 38px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

.floppy-icon-1 {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
  width: 21px;
  height: auto;
  color: var(--button-text);
}

.content__button {
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__button {
  gap: 8px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  padding-block: 15px;
}

.button__ok {
  block-size: 38px;
  inline-size: 293px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  line-height: 12.6px;
  font-weight: 400;
}

.content__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--text-color);
  transition: box-shadow 0.3s ease;
}

.content__button::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  z-index: 0;
}

.content__button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.dialog {
  padding: 0;
  border: none;
}

.dialog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--accent-font), monospace;
  color: var(--text-color);
}

.dialog__container {
  display: flex;
  inline-size: 293px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.dialog-title {
  inline-size: 234px;
  font-size: 14px;
}

.floppy-icon-2 {
  width: 39px;
  height: auto;
  color: var(--text-color);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.6);
}

@media (width = 1440px) {
  .card__image-conteiner {
    inline-size: 696px;
    block-size: 696px;
  }

}

@media (width = 375px) {
  .save__button {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card__title {
    padding-block: 3px;
  }

  .card__image-conteiner {
    inline-size: 375px;
    block-size: 375px;
  }

  .card:nth-of-type(5) .card__title {
    padding-block: 0;
  }

  .floppy-icon-1 {
    width: 28px;
    height: auto;
  }

  .dialog__wrapper {
    padding: 30px 42px;
  }

  .dialog__container {
    inline-size: 257px;
  }

  .dialog-title {
    inline-size: 198px;
    font-size: 14px;
  }

  .button__ok {
    inline-size: 257px;
  }
}

.filter-sepia {
  filter: sepia(1);
}

.filter-contrast {
  filter: contrast(290%);
}

.filter-saturate {
  filter: saturate(145%);
}

.filter-brightness {
  filter: brightness(220%);
}

.filter-invert {
  filter: invert(90%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-mixed-1 {
  filter: invert(1) brightness(100%) saturate(60%) hue-rotate(-90deg);
}

.filter-mixed-2 {
  filter: sepia(1) contrast(2) brightness(200%);
 }
