/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --text-color: #000000;
    --text-weight: 400;
    --accent-weight: 700;
    --bg-color: #fff;
    --main-font: 'Inter-Variable'; 
    --accent-font: 'PressStart2P-Regular';
    --bg-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --shadow: #fff;
    --button-text: #fff;
    --heart-like: red;
    --heart-contour: #000000;
}